@mixin flex-box($main: center, $cross: center) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
  @content;
}

@mixin rings($start, $end) {
  $start: $start - 1; // reseting start value
  @for $count from $start through $end {
    $value: 10px * $count;
    span:nth-child(#{$count + 1}) {
      top: $value;
      right: $value;
      bottom: $value;
      left: $value;
      animation-delay: 0s;
    }
  }
}
