@mixin flex-box($main: center, $cross: center) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
  @content;
}

@function timeDelay($totalItems, $currItem, $timeDelay) {
  $time: $totalItems * $timeDelay;
  $delay: $time - $currItem * $timeDelay;
  @return $delay;
}

@mixin rings($first, $last) {
  $first: $first - 1; // reseting first value
  @for $count from $first to $last {
    $value: 10px * $count; // position value
    $currItem: $count + 1;
    span:nth-child(#{$currItem}) {
      top: $value;
      right: $value;
      bottom: $value;
      left: $value;
      animation-delay: timeDelay(15, $currItem, 0.1s);
    }
  }
}
